@import "generic/base.scss";
@import "generic/vars.scss";
@import "generic/mixins.scss";

body {
font-family: 'PT Serif', serif;
	font-size: 16px;

	.panelWrapper {
		display: block;
   		margin: 0 auto;
   		$panelWidth: 1200px;
		width: $panelWidth;

		@import "generic/subPanel.scss";

		.mainPanel {
			width: $panelWidth * 0.75;
			float: left;
			min-height: 100%;
			height: auto;
			@include box-shadow(-$panelWidth * 0.25 , 0, 0, 0, $lightColor);

			.line {
				min-height: 100%;
				height: auto;
				@include box-shadow(-5px , 0, 0, 0, $accentColor);

				.menu {
					width: 100%;
					padding: $spacing 0 0 $spacing;
					background: white;

					a {
						@include rounded();
						color: $darkColor;
						margin: $spacing/2 39px $spacing/2 0;
						font-size: 19px;
						padding: 8px;
						text-decoration: none;
						@include transition();
						font-weight: bold;

						&:hover {
							@include box-shadow();
							color: white !important;
							background-color: $accentColor;
						}
						&.active {
							color: lighten($darkColor, 30%);
						}
					}
				}
				.content {
					padding: $spacing;
					line-height: 30px;
					height: auto;
					position: relative;

					a {
						color: lighten($darkColor, 20%);
						@include transition();
						text-decoration: none;
						img {
							&.center {
								position: relative;
								left: 50%;
							}
						}
						&:hover {
							color: lighten($darkColor, 40%);
						}
					}
					hr {
						border: 0;
						border-top: 2px solid $accentColor;
					}
					h3 {
						font-size: 120%;
						position: relative;

						.bookNow {
							margin: 5px;
							position: absolute;
							right: 0;
							bottom: 0;
							color: $darkColor;
							font-weight: bold;
							font-size: 12px;
							text-transform: uppercase;

							a {
								@include transition(0.2s);
								@include rounded();
								@include box-shadow();
								text-decoration: none;
								padding: 5px;
								background: white;
								border: 1px solid $darkColor;
								color: $darkColor;
								opacity: 1;

								&:hover {
									background: $accentColor;
									color: white;
								}
							}

						}
					}
					ul {
						li {
							margin-left: $spacing;
						}
					}
					.map {
						position: absolute;
						right: $spacing;
						top: 430px;
					}
					.column {
						display:inline-table;
						width: 47%;
						margin: 0 1%;
					}
					.image {
						@include rounded($spacing);
						@include box-shadow();
						$height: auto;
						overflow: hidden;
						height: auto;
						width: 30%;
						margin: $spacing 0;
						position: relative;

						&:after {
							display: block;
							width: 100%;
							height: 20%;
							position: absolute;
							bottom: 0;
							opacity: 0.6;
							left: 0;
							content: ' ';
							@include gradient();
						}

						&.profile {
							width: 30%;
							float: right;
							margin-left: $spacing;
						}
						&.large {
							width: 100%;
						}
						&.map {
							width: 520px;
							height: 400px;

							&:after {
								display: none;
							}
						}
						img {
							height: auto;
							width: 100%;

						}
						span {
							display: block;
							width: 100%;
							position: absolute;
							bottom: 2%;
							text-align: center;
							font-size: 14px;
							line-height: 16px;
							font-weight: bold;
							text-transform: uppercase;
							color: white;
							z-index: 2;
						}
					}
					.heroPic {
						padding-bottom: $spacing;
						width: 100%;

						img {
							@include rounded($spacing);
							@include box-shadow();
							margin: 10px auto 0;
							width: 100%;
						}
					}
					.question {
						color: lighten($darkColor, 20%);
						cursor: pointer;
						@include transition();

						&:hover {
							color: lighten($darkColor, 40%);
						}
						.answer {
							display: none;
							color: $darkColor;

							&:hover {
								color: $darkColor;
							}
						}
					}
					.socialPanel {
						$height: 50px;
						height: $height;
						width: auto;

						a {
							display: block;
							margin: $spacing/2;
							@include transition(0.2s);
							@include rounded($height);
							@include box-shadow();
							position: relative;
							opacity: 0.7;
							cursor: pointer;
							float: left;
							height: $height;
							width: $height;

							&:hover {
								opacity: 1;
							}
							&.facebook {
								background: #46629D;

								img {
									width: 15px;
								}
							}
							&.twitter {
								background: #55ACEE;

								img {
									margin-top: 13px;
									width: 30px;
								}
							}
							&.instagram {
								background: #9b6954;

								img {
									margin-top: 10px;
									width: 30px;
								}
							}
							img {
								display: block;
								margin: 10px auto;

							}
						}
					}
				}
			}
		}
	}
	@import "generic/footer.scss";
}
