
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
dl,
dt,
sup,
sub,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
@each $font-face in proxnov-reg, begum-reg {
	@font-face {
		  font-family: $font-face; font-style: normal; font-weight: normal;
		  src: url('fonts/#{$font-face}.eot');
		  src: url('fonts/#{$font-face}.eot?') format('eot'),
			   url('fonts/#{$font-face}.woff') format('woff'),
			   url('fonts/#{$font-face}.ttf') format('truetype'),
			   url('fonts/#{$font-face}.svg#font-name') format('svg');
	}
}
@mixin font($font, $style: normal, $weight: normal) {
	font-family: $font, arial, sans-serif;
	font-style: $style;
	font-weight: $weight;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
