html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
dl,
dt,
sup,
sub,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

@font-face {
  font-family: proxnov-reg;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/proxnov-reg.eot");
  src: url("fonts/proxnov-reg.eot?") format("eot"), url("fonts/proxnov-reg.woff") format("woff"), url("fonts/proxnov-reg.ttf") format("truetype"), url("fonts/proxnov-reg.svg#font-name") format("svg"); }
@font-face {
  font-family: begum-reg;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/begum-reg.eot");
  src: url("fonts/begum-reg.eot?") format("eot"), url("fonts/begum-reg.woff") format("woff"), url("fonts/begum-reg.ttf") format("truetype"), url("fonts/begum-reg.svg#font-name") format("svg"); }
#mc_embed_signup {
  clear: left;
  margin: 0 20px; }

#mce-EMAIL {
  margin: 10px 0;
  width: 190px;
  font-size: 12px; }

#mc-embedded-subscribe {
  width: 190px;
  font-size: 12px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

/*
for mobile images: <img src="small.jpg" srcset="medium.jpg 1000w, large.jpg 2000w" alt="yah">
*/
body {
  font-family: 'PT Serif', serif;
  font-size: 62.5%; }
  body .panelWrapper {
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    width: 100%;
    /* Larger than mobile */
    /* Larger than phablet */
    /* Larger than tablet */
    /* Larger than desktop */
    /* Larger than Desktop HD */ }
    body .panelWrapper .subPanel {
      position: fixed;
      display: block;
      width: 100%;
      height: 4rem;
      background: #ccc;
      z-index: 80;
      border-bottom: #b3e1e2 0.2rem solid; }
      body .panelWrapper .subPanel .callToAction {
        display: none;
        float: left; }
      body .panelWrapper .subPanel #mc_embed_signup {
        display: none; }
      body .panelWrapper .subPanel .company {
        display: none;
        color: #052B48;
        _text-shadow: -1px -1px 0 #052B48, 1px -1px 0 #052B48, -1px 1px 0 #052B48, 1px 1px 0 #052B48;
        font-weight: bold;
        margin: -1.5rem 1.5rem 0;
        text-align: left;
        position: relative;
        text-transform: uppercase;
        left: 0px;
        font-size: 0.2rem; }
        body .panelWrapper .subPanel .company b {
          font-size: 110%; }
        body .panelWrapper .subPanel .company span {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 80%; }
          body .panelWrapper .subPanel .company span b {
            font-size: inherit; }
      body .panelWrapper .subPanel .logo {
        width: auto;
        height: 100%;
        float: left; }
        body .panelWrapper .subPanel .logo a {
          position: relative;
          display: block;
          left: 0.3rem;
          top: 0.3rem; }
          body .panelWrapper .subPanel .logo a img {
            width: auto;
            height: 80%; }
          body .panelWrapper .subPanel .logo a span {
            position: absolute;
            margin-left: -10000px; }
      body .panelWrapper .subPanel .contact {
        margin: 0;
        position: relative;
        float: left;
        left: 1rem;
        top: -1.7rem;
        width: 50%;
        height: 1rem;
        padding-top: 0;
        color: #052B48;
        font-weight: bold;
        font-size: 0.7rem; }
        body .panelWrapper .subPanel .contact a {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
          text-decoration: none;
          padding: 0.1rem 0.5rem;
          margin: 1.5rem 0;
          background: white;
          position: relative;
          left: 50%;
          top: 3rem;
          border: 1px solid #052B48;
          color: #052B48;
          opacity: 1;
          font-size: 150%; }
          body .panelWrapper .subPanel .contact a:hover {
            background: #b3e1e2;
            color: white; }
      body .panelWrapper .subPanel .showMenu {
        position: absolute;
        right: 0.5rem;
        top: 0.4rem; }
      body .panelWrapper .subPanel:before {
        height: 100%;
        content: '';
        display: block;
        border-right: #b3e1e2 4.2rem solid;
        position: absolute;
        right: 0px;
        top: 0; }
    @media (min-width: 1200px) {
      body .panelWrapper .subPanel {
        position: relative;
        display: block;
        width: 25%;
        background: #ccc;
        float: left;
        border-bottom: #b3e1e2 0 solid; }
        body .panelWrapper .subPanel .callToAction {
          display: none;
          float: left; }
        body .panelWrapper .subPanel #mc_embed_signup {
          display: block; }
        body .panelWrapper .subPanel .company {
          display: none;
          color: #052B48;
          _text-shadow: -1px -1px 0 #052B48, 1px -1px 0 #052B48, -1px 1px 0 #052B48, 1px 1px 0 #052B48;
          font-weight: bold;
          margin: -1.5rem 1.5rem 0;
          text-align: left;
          position: relative;
          text-transform: uppercase;
          left: 0px;
          font-size: 35px; }
          body .panelWrapper .subPanel .company b {
            font-size: 110%; }
          body .panelWrapper .subPanel .company span {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 80%; }
            body .panelWrapper .subPanel .company span b {
              font-size: inherit; }
        body .panelWrapper .subPanel .logo {
          margin: 5%;
          width: 90%;
          height: auto; }
          body .panelWrapper .subPanel .logo a {
            position: relative;
            display: block;
            margin-left: -10px; }
            body .panelWrapper .subPanel .logo a img {
              width: 100%;
              height: auto; }
            body .panelWrapper .subPanel .logo a span {
              margin-left: -10000px; }
        body .panelWrapper .subPanel .contact {
          margin: 1.5rem;
          width: 90%;
          height: 200px;
          padding-top: 4.5rem;
          color: #052B48;
          font-weight: bold;
          font-size: 20px;
          left: 0;
          text-transform: uppercase; }
          body .panelWrapper .subPanel .contact a {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            text-decoration: none;
            padding: 5px 60px;
            margin: 1.5rem 0;
            background: white;
            border: 1px solid #052B48;
            color: #052B48;
            opacity: 1;
            font-size: 120%;
            position: relative;
            left: 0;
            top: 0; }
            body .panelWrapper .subPanel .contact a:hover {
              background: #b3e1e2;
              color: white; }
        body .panelWrapper .subPanel .showMenu {
          display: none; }
        body .panelWrapper .subPanel:before {
          height: 100%;
          content: '';
          display: block;
          border-right: #b3e1e2 5px solid;
          position: absolute;
          right: 0px;
          top: 0; } }
    body .panelWrapper .mainPanel {
      width: 100%;
      margin-top: 4rem;
      float: left;
      min-height: 100%;
      height: auto;
      -moz-box-shadow: -25% 0 0 0 #ccc;
      -webkit-box-shadow: -25% 0 0 0 #ccc;
      box-shadow: -25% 0 0 0 #ccc; }
      body .panelWrapper .mainPanel .line {
        min-height: 100%;
        height: auto;
        -moz-box-shadow: -5px 0 0 0 #b3e1e2;
        -webkit-box-shadow: -5px 0 0 0 #b3e1e2;
        box-shadow: -5px 0 0 0 #b3e1e2; }
        body .panelWrapper .mainPanel .line .menu {
          width: 100%;
          font-size: 1rem;
          padding: 0 0 1.5rem;
          background: #b3e1e2;
          display: none;
          position: fixed;
          z-index: 70; }
          body .panelWrapper .mainPanel .line .menu a {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            color: #052B48;
            padding: 0.5rem 0;
            width: 7.5rem;
            min-width: 30%;
            text-decoration: none;
            font-weight: bold;
            float: left;
            background: white;
            text-align: center;
            border: 1px solid #052B48;
            margin: 1.5rem 0 0 1.5rem; }
            body .panelWrapper .mainPanel .line .menu a:nth-child(even) {
              margin: 1.5rem 1.5rem 0 0;
              float: right; }
            body .panelWrapper .mainPanel .line .menu a.active {
              color: #0f80d7; }
        body .panelWrapper .mainPanel .line .content {
          padding: 0.75rem;
          line-height: 2rem;
          height: auto;
          position: relative; }
          body .panelWrapper .mainPanel .line .content a {
            color: #0c64a7;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            text-decoration: none; }
            body .panelWrapper .mainPanel .line .content a img.center {
              position: relative;
              left: 50%; }
            body .panelWrapper .mainPanel .line .content a:hover {
              color: #299af0; }
          body .panelWrapper .mainPanel .line .content hr {
            border: 0;
            border-top: 0.2rem solid #b3e1e2; }
          body .panelWrapper .mainPanel .line .content h3 {
            font-size: 120%;
            position: relative; }
            body .panelWrapper .mainPanel .line .content h3 .bookNow {
              margin: 0.5rem;
              right: 0;
              bottom: 0;
              color: #052B48;
              font-weight: bold;
              font-size: 1.2rem;
              text-transform: uppercase; }
              body .panelWrapper .mainPanel .line .content h3 .bookNow a {
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                text-decoration: none;
                padding: 0.5rem;
                background: white;
                border: 1px solid #052B48;
                color: #052B48;
                opacity: 1; }
                body .panelWrapper .mainPanel .line .content h3 .bookNow a:hover {
                  background: #b3e1e2;
                  color: white; }
          body .panelWrapper .mainPanel .line .content ul li {
            margin-left: 1.5rem; }
          body .panelWrapper .mainPanel .line .content .map {
            position: relative;
            top: -15rem; }
          body .panelWrapper .mainPanel .line .content .column {
            display: inline-table;
            width: 100%; }
            body .panelWrapper .mainPanel .line .content .column:nth-child(odd) {
              float: none; }
          body .panelWrapper .mainPanel .line .content .image {
            -webkit-border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            border-radius: 1.5rem;
            -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            height: auto;
            width: 30%;
            margin: 1.5rem 0;
            position: relative; }
            body .panelWrapper .mainPanel .line .content .image:after {
              display: block;
              width: 100%;
              height: 20%;
              position: absolute;
              bottom: 0;
              opacity: 0.6;
              left: 0;
              content: ' ';
              background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #052B48);
              background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #052B48);
              background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #052B48);
              background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #052B48); }
            body .panelWrapper .mainPanel .line .content .image.profile {
              width: 50%;
              float: left; }
            body .panelWrapper .mainPanel .line .content .image.large {
              width: 100%; }
            body .panelWrapper .mainPanel .line .content .image.map {
              width: 100%;
              height: 40rem; }
              body .panelWrapper .mainPanel .line .content .image.map:after {
                display: none; }
            body .panelWrapper .mainPanel .line .content .image img {
              height: auto;
              width: 100%; }
            body .panelWrapper .mainPanel .line .content .image span {
              display: block;
              width: 100%;
              position: absolute;
              bottom: 2%;
              text-align: center;
              line-height: 1.6rem;
              font-weight: bold;
              text-transform: uppercase;
              color: white;
              z-index: 2; }
          body .panelWrapper .mainPanel .line .content .heroPic {
            padding-bottom: 1.5rem;
            width: 100%; }
            body .panelWrapper .mainPanel .line .content .heroPic img {
              -webkit-border-radius: 1.5rem;
              -moz-border-radius: 1.5rem;
              border-radius: 1.5rem;
              -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              margin: 0 auto 0;
              width: 100%; }
          body .panelWrapper .mainPanel .line .content .question {
            color: #0c64a7;
            cursor: pointer;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
            body .panelWrapper .mainPanel .line .content .question:hover {
              color: #299af0; }
            body .panelWrapper .mainPanel .line .content .question .answer {
              display: none;
              color: #052B48; }
              body .panelWrapper .mainPanel .line .content .question .answer:hover {
                color: #052B48; }
          body .panelWrapper .mainPanel .line .content .socialPanel {
            height: 50px;
            width: auto; }
            body .panelWrapper .mainPanel .line .content .socialPanel a {
              display: block;
              margin: 0.75rem;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
              -webkit-border-radius: 50px;
              -moz-border-radius: 50px;
              border-radius: 50px;
              -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              position: relative;
              opacity: 0.7;
              cursor: pointer;
              float: left;
              height: 50px;
              width: 50px; }
              body .panelWrapper .mainPanel .line .content .socialPanel a:hover {
                opacity: 1; }
              body .panelWrapper .mainPanel .line .content .socialPanel a.facebook {
                background: #46629D; }
                body .panelWrapper .mainPanel .line .content .socialPanel a.facebook img {
                  width: 15px; }
              body .panelWrapper .mainPanel .line .content .socialPanel a.twitter {
                background: #55ACEE; }
                body .panelWrapper .mainPanel .line .content .socialPanel a.twitter img {
                  margin-top: 13px;
                  width: 30px; }
              body .panelWrapper .mainPanel .line .content .socialPanel a.instagram {
                background: #9b6954; }
                body .panelWrapper .mainPanel .line .content .socialPanel a.instagram img {
                  margin-top: 10px;
                  width: 30px; }
              body .panelWrapper .mainPanel .line .content .socialPanel a img {
                display: block;
                margin: 10px auto; }
  body .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
    height: 50px;
    background: none; }
    body .footer a {
      display: block;
      background: #b3e1e2;
      margin-right: 0.75rem;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      position: relative;
      opacity: 0.7;
      cursor: pointer;
      float: right;
      height: 50px;
      width: 50px; }
      body .footer a:hover {
        opacity: 1; }
      body .footer a.facebook img {
        width: 15px; }
      body .footer a.twitter img {
        margin-top: 13px;
        width: 30px; }
      body .footer a.instagram img {
        margin-top: 10px;
        width: 30px; }
      body .footer a img {
        display: block;
        margin: 10px auto; }

/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
@media (min-width: 750px) {
  body .panelWrapper .mainPanel .line .content {
    padding: 1.125rem; }
    body .panelWrapper .mainPanel .line .content .column {
      display: inline-table;
      width: 47%;
      margin: 0 1%;
      float: left; }
      body .panelWrapper .mainPanel .line .content .column:nth-child(odd) {
        float: right; } }
/* Larger than desktop */
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  body {
    font-family: 'PT Serif', serif;
    font-size: 62.5%; }
    body .panelWrapper {
      display: block;
      margin: 0 auto;
      width: 1200px;
      font-size: 1rem;
      /* Larger than mobile */
      /* Larger than phablet */
      /* Larger than tablet */
      /* Larger than desktop */
      /* Larger than Desktop HD */ }
      body .panelWrapper .subPanel {
        position: fixed;
        display: block;
        width: 1200px;
        height: 4rem;
        background: #ccc;
        z-index: 80;
        border-bottom: #b3e1e2 0.2rem solid; }
        body .panelWrapper .subPanel .callToAction {
          display: none;
          float: left; }
        body .panelWrapper .subPanel #mc_embed_signup {
          display: none; }
        body .panelWrapper .subPanel .company {
          display: none;
          color: #052B48;
          _text-shadow: -1px -1px 0 #052B48, 1px -1px 0 #052B48, -1px 1px 0 #052B48, 1px 1px 0 #052B48;
          font-weight: bold;
          margin: -1.5rem 1.5rem 0;
          text-align: left;
          position: relative;
          text-transform: uppercase;
          left: 0px;
          font-size: 0.2rem; }
          body .panelWrapper .subPanel .company b {
            font-size: 110%; }
          body .panelWrapper .subPanel .company span {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 80%; }
            body .panelWrapper .subPanel .company span b {
              font-size: inherit; }
        body .panelWrapper .subPanel .logo {
          width: auto;
          height: 100%;
          float: left; }
          body .panelWrapper .subPanel .logo a {
            position: relative;
            display: block;
            left: 0.3rem;
            top: 0.3rem; }
            body .panelWrapper .subPanel .logo a img {
              width: auto;
              height: 80%; }
            body .panelWrapper .subPanel .logo a span {
              position: absolute;
              margin-left: -10000px; }
        body .panelWrapper .subPanel .contact {
          margin: 0;
          position: relative;
          float: left;
          left: 1rem;
          top: -1.7rem;
          width: 50%;
          height: 1rem;
          padding-top: 0;
          color: #052B48;
          font-weight: bold;
          font-size: 0.7rem; }
          body .panelWrapper .subPanel .contact a {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            text-decoration: none;
            padding: 0.1rem 0.5rem;
            margin: 1.5rem 0;
            background: white;
            position: relative;
            left: 50%;
            top: 3rem;
            border: 1px solid #052B48;
            color: #052B48;
            opacity: 1;
            font-size: 150%; }
            body .panelWrapper .subPanel .contact a:hover {
              background: #b3e1e2;
              color: white; }
        body .panelWrapper .subPanel .showMenu {
          position: absolute;
          right: 0.5rem;
          top: 0.4rem; }
        body .panelWrapper .subPanel:before {
          height: 100%;
          content: '';
          display: block;
          border-right: #b3e1e2 4.2rem solid;
          position: absolute;
          right: 0px;
          top: 0; } }
    @media (min-width: 1200px) and (min-width: 1200px) {
      body .panelWrapper .subPanel {
        position: relative;
        display: block;
        width: 300px;
        background: #ccc;
        float: left;
        border-bottom: #b3e1e2 0 solid; }
        body .panelWrapper .subPanel .callToAction {
          display: none;
          float: left; }
        body .panelWrapper .subPanel #mc_embed_signup {
          display: block; }
        body .panelWrapper .subPanel .company {
          display: none;
          color: #052B48;
          _text-shadow: -1px -1px 0 #052B48, 1px -1px 0 #052B48, -1px 1px 0 #052B48, 1px 1px 0 #052B48;
          font-weight: bold;
          margin: -1.5rem 1.5rem 0;
          text-align: left;
          position: relative;
          text-transform: uppercase;
          left: 0px;
          font-size: 35px; }
          body .panelWrapper .subPanel .company b {
            font-size: 110%; }
          body .panelWrapper .subPanel .company span {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 80%; }
            body .panelWrapper .subPanel .company span b {
              font-size: inherit; }
        body .panelWrapper .subPanel .logo {
          margin: 5%;
          width: 90%;
          height: auto; }
          body .panelWrapper .subPanel .logo a {
            position: relative;
            display: block;
            margin-left: -10px; }
            body .panelWrapper .subPanel .logo a img {
              width: 100%;
              height: auto; }
            body .panelWrapper .subPanel .logo a span {
              margin-left: -10000px; }
        body .panelWrapper .subPanel .contact {
          margin: 1.5rem;
          width: 90%;
          height: 200px;
          padding-top: 4.5rem;
          color: #052B48;
          font-weight: bold;
          font-size: 20px;
          left: 0;
          text-transform: uppercase; }
          body .panelWrapper .subPanel .contact a {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
            text-decoration: none;
            padding: 5px 60px;
            margin: 1.5rem 0;
            background: white;
            border: 1px solid #052B48;
            color: #052B48;
            opacity: 1;
            font-size: 120%;
            position: relative;
            left: 0;
            top: 0; }
            body .panelWrapper .subPanel .contact a:hover {
              background: #b3e1e2;
              color: white; }
        body .panelWrapper .subPanel .showMenu {
          display: none; }
        body .panelWrapper .subPanel:before {
          height: 100%;
          content: '';
          display: block;
          border-right: #b3e1e2 5px solid;
          position: absolute;
          right: 0px;
          top: 0; } }
@media (min-width: 1200px) {
      body .panelWrapper .mainPanel {
        width: 900px;
        float: left;
        margin-top: 0;
        min-height: 100%;
        height: auto;
        -moz-box-shadow: -300px 0 0 0 #ccc;
        -webkit-box-shadow: -300px 0 0 0 #ccc;
        box-shadow: -300px 0 0 0 #ccc; }
        body .panelWrapper .mainPanel .line {
          min-height: 100%;
          height: auto;
          -moz-box-shadow: -5px 0 0 0 #b3e1e2;
          -webkit-box-shadow: -5px 0 0 0 #b3e1e2;
          box-shadow: -5px 0 0 0 #b3e1e2; }
          body .panelWrapper .mainPanel .line .menu {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            width: 100%;
            padding: 1.5rem 0 0 1.5rem;
            background: white;
            display: block;
            position: relative; }
            body .panelWrapper .mainPanel .line .menu a {
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              color: #052B48;
              margin: 0.75rem 2rem 0.75rem 0;
              font-size: 1.2rem;
              padding: 0.8rem;
              text-decoration: none;
              font-weight: bold;
              width: auto;
              float: none;
              border: none; }
              body .panelWrapper .mainPanel .line .menu a:nth-child(even) {
                margin: 0.75rem 1rem 0.75rem 0;
                float: none; }
              body .panelWrapper .mainPanel .line .menu a:hover {
                -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                color: white !important;
                background-color: #b3e1e2; }
              body .panelWrapper .mainPanel .line .menu a.active {
                color: #0f80d7; }
          body .panelWrapper .mainPanel .line .content {
            padding: 1.5rem;
            line-height: 30px;
            height: auto;
            position: relative; }
            body .panelWrapper .mainPanel .line .content a {
              color: #0c64a7;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              text-decoration: none; }
              body .panelWrapper .mainPanel .line .content a img.center {
                position: relative;
                left: 50%; }
              body .panelWrapper .mainPanel .line .content a:hover {
                color: #299af0; }
            body .panelWrapper .mainPanel .line .content hr {
              border: 0;
              border-top: 2px solid #b3e1e2; }
            body .panelWrapper .mainPanel .line .content h3 {
              font-size: 120%;
              position: relative; }
              body .panelWrapper .mainPanel .line .content h3 .bookNow {
                margin: 5px;
                position: absolute;
                right: 0;
                bottom: 0;
                color: #052B48;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase; }
                body .panelWrapper .mainPanel .line .content h3 .bookNow a {
                  -webkit-transition: all 0.2s ease-in-out;
                  -moz-transition: all 0.2s ease-in-out;
                  -o-transition: all 0.2s ease-in-out;
                  transition: all 0.2s ease-in-out;
                  -webkit-border-radius: 10px;
                  -moz-border-radius: 10px;
                  border-radius: 10px;
                  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                  text-decoration: none;
                  padding: 5px;
                  background: white;
                  border: 1px solid #052B48;
                  color: #052B48;
                  opacity: 1; }
                  body .panelWrapper .mainPanel .line .content h3 .bookNow a:hover {
                    background: #b3e1e2;
                    color: white; }
            body .panelWrapper .mainPanel .line .content ul li {
              margin-left: 1.5rem; }
            body .panelWrapper .mainPanel .line .content .map {
              position: absolute;
              right: 1.5rem;
              top: 27rem;
              width: 25rem; }
            body .panelWrapper .mainPanel .line .content .column {
              display: inline-table;
              width: 47%;
              margin: 0 1%;
              float: left; }
              body .panelWrapper .mainPanel .line .content .column:nth-child(odd) {
                float: right; }
            body .panelWrapper .mainPanel .line .content .image {
              -webkit-border-radius: 1.5rem;
              -moz-border-radius: 1.5rem;
              border-radius: 1.5rem;
              -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
              overflow: hidden;
              height: auto;
              width: 30%;
              margin: 1.5rem 0;
              position: relative; }
              body .panelWrapper .mainPanel .line .content .image:after {
                display: block;
                width: 100%;
                height: 20%;
                position: absolute;
                bottom: 0;
                opacity: 0.6;
                left: 0;
                content: ' ';
                background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #052B48);
                background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #052B48);
                background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #052B48);
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #052B48); }
              body .panelWrapper .mainPanel .line .content .image.profile {
                width: 30%;
                float: right;
                margin-left: 1.5rem; }
              body .panelWrapper .mainPanel .line .content .image.large {
                width: 100%; }
              body .panelWrapper .mainPanel .line .content .image.map {
                width: 520px;
                height: 400px; }
                body .panelWrapper .mainPanel .line .content .image.map:after {
                  display: none; }
              body .panelWrapper .mainPanel .line .content .image img {
                height: auto;
                width: 100%; }
              body .panelWrapper .mainPanel .line .content .image span {
                display: block;
                width: 100%;
                position: absolute;
                bottom: 2%;
                text-align: center;
                font-size: 14px;
                line-height: 16px;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                z-index: 2; }
            body .panelWrapper .mainPanel .line .content .heroPic {
              padding-bottom: 1.5rem;
              width: 100%; }
              body .panelWrapper .mainPanel .line .content .heroPic img {
                -webkit-border-radius: 1.5rem;
                -moz-border-radius: 1.5rem;
                border-radius: 1.5rem;
                -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                margin: 10px auto 0;
                width: 100%; }
            body .panelWrapper .mainPanel .line .content .question {
              color: #0c64a7;
              cursor: pointer;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
              body .panelWrapper .mainPanel .line .content .question:hover {
                color: #299af0; }
              body .panelWrapper .mainPanel .line .content .question .answer {
                display: none;
                color: #052B48; }
                body .panelWrapper .mainPanel .line .content .question .answer:hover {
                  color: #052B48; }
            body .panelWrapper .mainPanel .line .content .socialPanel {
              height: 50px;
              width: auto; }
              body .panelWrapper .mainPanel .line .content .socialPanel a {
                display: block;
                margin: 0.75rem;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
                position: relative;
                opacity: 0.7;
                cursor: pointer;
                float: left;
                height: 50px;
                width: 50px; }
                body .panelWrapper .mainPanel .line .content .socialPanel a:hover {
                  opacity: 1; }
                body .panelWrapper .mainPanel .line .content .socialPanel a.facebook {
                  background: #46629D; }
                  body .panelWrapper .mainPanel .line .content .socialPanel a.facebook img {
                    width: 15px; }
                body .panelWrapper .mainPanel .line .content .socialPanel a.twitter {
                  background: #55ACEE; }
                  body .panelWrapper .mainPanel .line .content .socialPanel a.twitter img {
                    margin-top: 13px;
                    width: 30px; }
                body .panelWrapper .mainPanel .line .content .socialPanel a.instagram {
                  background: #9b6954; }
                  body .panelWrapper .mainPanel .line .content .socialPanel a.instagram img {
                    margin-top: 10px;
                    width: 30px; }
                body .panelWrapper .mainPanel .line .content .socialPanel a img {
                  display: block;
                  margin: 10px auto; }
    body .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      padding-bottom: 0.75rem;
      padding-right: 0.75rem;
      width: 100%;
      height: 50px;
      background: none; }
      body .footer a {
        display: block;
        background: #b3e1e2;
        margin-right: 0.75rem;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        position: relative;
        opacity: 0.7;
        cursor: pointer;
        float: right;
        height: 50px;
        width: 50px; }
        body .footer a:hover {
          opacity: 1; }
        body .footer a.facebook img {
          width: 15px; }
        body .footer a.twitter img {
          margin-top: 13px;
          width: 30px; }
        body .footer a.instagram img {
          margin-top: 10px;
          width: 30px; }
        body .footer a img {
          display: block;
          margin: 10px auto; } }
